/*------------------------------------*\
#FONTS
\*------------------------------------*/
@font-face {
  font-family: "IBMPlex";
  src: url('../fonts/IBMPlexMono-Regular.otf') format('otf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'IBMPlex';
  src: url('../fonts/IBMPlexMono-Medium.otf') format('otf');
  font-style: normal;
  font-weight: 600;
}

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
  /* Global colors */
  --global-text-color: Black;
  --global-color-transparent: white;
  --global-color-alpha-light: #A3A0FB80;
  --global-color-alpha: #0085FF;

  --global-color-beta: #3B86FF;

  --global-color-neutral-xxxx-light: #FFFFFF;
  --global-color-neutral-xxx-light: #CCE6FF;
  --global-color-neutral-xx-light: #99CEFF;
  --global-color-neutral-x-light: #66B5FF;
  --global-color-neutral-light: #339DFF;
  --global-color-neutral: #0085FF;
  --global-color-neutral-dark: #006DD1;
  --global-color-neutral-x-dark: #0055A3;
  --global-color-neutral-xx-dark: #003D75;

  /* Shadows */
  --global-box-shadow: 0 0 0 1px rgba(0, 0, 0, .025), 0 2px 6px rgba(0, 0, 0, .05);
  --global-box-shadow-lg: 0 0 0 1px rgba(0, 0, 0, .025), 0 2px 10px rgba(0, 0, 0, .1);

  --global-input-shadow: 0 2px 3px rgba(0, 0, 0, .05);
  --global-input-focus-shadow: 0 0 5px var(--global-color-alpha-light);

  /* radius */
  --global-borderRadius: calc(4rem / var(--global-root-font-size));

  /* baseline */
  --global-baseline: 8px;
  --global-whitespace-xxs: var(--global-baseline);
  /* = 8px */
  --global-whitespace-xs: calc(var(--global-baseline) * 2);
  /* = 16px */
  --global-whitespace-sm: calc(var(--global-baseline) * 3);
  /* = 24px */
  --global-whitespace-md: calc(var(--global-baseline) * 4);
  /* = 32px */
  --global-whitespace-lg: calc(var(--global-baseline) * 5);
  /* = 40px */
  --global-whitespace-xl: calc(var(--global-baseline) * 6);
  /* = 48px */

  /* global page settings */
  --global-page-backgroundColor: var(--global-color-transparent);
  --global-page-textColor: var(--global-color-dark);
  --global-selection-backgroundColor: var(--global-color-beta);

      /* fonts */
      --global-fontFamily: "IBMPlex", sans-serif;
      --global-fontSize: var(--global-whitespace-xs);



}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
  font-size: var(--global-fontSize);
  line-height: 1.5;
  font-family: "IBMPLEX",sans-serif;
  color: var(--global-text-color);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--global-color-neutral-xxxx-light);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {}


::selection {
  background: var(--global-selection-backgroundColor);
  color: white;
  text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
    Component: Robot
*/

/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {

  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: ' (' attr(href) ')';
  }

  abbr[title]:after {
    content: ' (' attr(title) ')';
  }

  /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
  a[href^='#']:after,
  a[href^='javascript:']:after {
    content: '';
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}